@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header Styles */
.header {
  display: flex;
  align-items: center; /* vertically centers the content */
  background-color: black;
  padding: 0 1rem; /* left and right padding */
  justify-content: center;
  align-items: center;
}

/* Logo Styles */
.logo {
  height: 60px; /* desired header height */
  width: auto; /* maintains the logo's aspect ratio */
  margin-right: 1rem;
}
